HTML {}
BODY {

}

/* Settings */
.main-settings {
    margin-top: 20px;
    margin-bottom: 65px;
    margin-right: 27px;
}
.settings {
    background: -webkit-linear-gradient(#262626, #bbbbbb);
    color: #5e5e5e;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2em;
}
.settings:HOVER {
    cursor: pointer;
    background: -webkit-linear-gradient(#9f0c00, #ff6c4e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #e83e00;


}

/* Main menu */
UL.main-menu {

}
UL.main-menu LI {
    font-size: 0.85em;
    display: inline;
    list-style-type: none;
    padding-right: 31px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}
UL.main-menu LI A {
    text-transform: uppercase;
    font-weight: normal;
}
A {
    color: #0249bd;
    text-decoration: underline;
}
A:hover {
    color: #bd381e;
}
UL.main-menu LI.highlight A {
    color: #43810b;
}

/* Input groups */
.main_input_search {

}
.main-suggestion {
    color: #808080;
    font-style: italic;
}
.main-options {
    color: #262626;
}

/* Suggestion and only belarusian site */



/* Footer */
FOOTER {;
    font-size: 0.75em;
    margin: 0 auto;
    color: #808080;
    font-family: Verdana,Geneva,sans-serif;
}
FOOTER A {
    color: #808080;
}
FOOTER A:hover, FOOTER A:focus {
    color: #262626;
}

/* Make footer fixed */
.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 16px;
}

.main-footer .links A {
    margin-left: 10px;
}
.main-footer .langs SPAN {
    color: #000;
}

/* Themes */
