<nav class="navbar navbar-default visible-xs">
    <div class="container-fluid" style="padding-left: 0px;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <a href="#/"><img src="img/results_logo_xs.png" width="102" height="25" style="margin-top: 12px;" /></a>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/">Поиск</a></li>
                <li><a href="#/mail">Карта</a></li>
                <li><a href="#/translate">Переводчик</a></li>
                <li><a href="http://mail.yandex.ru/for/gogo.by" target="_blank" rel="nofollow">Почта</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- Блок для >xs -->
<div class="container pull-left-sm pull-left-md pull-left-lg hidden-xs" style="max-width: 960px; border: 0px solid #CCC;">
    <!-- Logo -->
    <div class="col-lg-2 col-md-2 col-sm-2" style="padding: 0px; padding-top: 38px; ">
        <a href="#/"><img src="img/results_logo.png" class="img-responsive hidden-sm" style="" /></a>
        <a href="#/"><img src="img/results_logo_sm.png" class="img-responsive visible-sm" style="" /></a>
    </div>
    <!-- Search field -->
    <div class="col-lg-10 col-md-10 col-sm-10" style="padding-left: 0px; padding-right: 0px;">
        <div class="topmenu text-center-xs">
            <a href="#/" class="active">Поиск</a>
            <a href="#/mail">Почта</a>
            <a href="#/maps">Карта</a>
            <a href="#/translate">Переводчик</a>
        </div>

        <form ng-submit="searchRequest(word, 1)">
            <div class="col-xs-12 col-sm-9" style="padding-left: 0px; padding-right: 0px;">
                <div class="input-group">
                    <input type="text" ng-model="word" class="form-control main_input_search" />
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-search-results" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                </div>

                <div style="font-size: 0.9em;">
                    <input type="checkbox" /> искать только на белорусских сайтах
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 hidden-xs">
                <img src="img/results_yandex.png" />
                <div style="font-size: 0.8em;">
                    Нашлось 492 тыс. ответов
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /Блок для >xs -->

<!-- Блок для =XS -->
<div class="container visible-xs">
    <form ng-submit="searchRequest(word, 1)">
        <div class="col-xs-12 col-sm-9" style="padding-left: 0px; padding-right: 0px;">
            <div class="input-group">
                <input type="text" ng-model="word" class="form-control main_input_search" />
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-search-results" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
            </div>

            <div style="font-size: 0.9em;">
                <input type="checkbox" /> искать только на белорусских сайтах
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 hidden-xs">
            <img src="img/results_yandex.png" />
            <div style="font-size: 0.8em;">
                Нашлось 492 тыс. ответов
            </div>
        </div>
    </form>
</div>
<!-- /Блок для =XS -->

<div class="clearfix"></div>
<div class="hidden-xs" style="margin-top: 13px;"></div>
<div class="visible-xs" style="margin-top: 13px;"></div>

<div class="container no-padding-xs" style="max-width: 960px; border: 0px solid #666; float: left;">
    <div class="col-sm-2 left-menu" style="padding-left: 0;">
        <div class="hidden-xs" style="margin-bottom: 30px;"></div>
        <div class="row">
            <div class="col-sm-12 col-xs-6 text-center left-item left-item-sm">
                <a href="javascript://" class="no-underline" ng-click="showDevMsg()">
                    <span class="glyphicon glyphicon-globe icon-size icon-size-xs" style="color: #545454;"></span><br/>
                    Весь Интернет
                </a>
            </div>

            <div class="col-sm-12 col-xs-6 text-center left-item left-item-sm">
                <span class="glyphicon glyphicon-film icon-size icon-size-xs" style=" color: #545454;"></span>
                <br/>
                <a href="javascript://" class="no-underline" ng-click="showDevMsg()">Торренты</a>
            </div>
        </div>
    </div>
    <div class="col-sm-10 results-block results-block-xs">
        <div class="col-xs-12 text-center loading" ng-show="loadingSearch">
            <img src="/img/ajax-loader.gif" />
        </div>
        <div class="col-md-9" style="padding-left: 0px; padding-bottom: 40px;">
            <div ng-if="!results.code" ng-repeat="value in results.results">
                <div class="one-result" style="position: relative;">
                    <div class="title">
                        <img style="position: absolute; display: block; left: -35px; top: 2px;" class="favicon" width="16" height="16" border="0" ng-src="http://favicon.yandex.net/favicon/{{value.domain[0]}}" onerror="this.src='/images/blank_favicon.gif'">
                        <a href="{{ value.url[0] }}" target="_blank" ng-bind-html="value.title"></a>
                    </div>
                    <div class="description">
                        <div ng-bind-html="value.headline"></div>
                        <div ng-bind-html="value.passage"></div>
                    </div>
                    <div class="link">
                        <a href="{{ value.url[0] }}" ng-bind="value.url[0] | escape | limitToDots: 50" target="_blank" ></a>
                    </div>
                </div>
            </div>

            <div ng-show="results.code == 100">
                <h2>Упс...</h2>
                <p>Нам очень жаль, но запросы, поступившие с вашего IP-адреса, похожи на автоматические. По этой причине мы вынуждены временно заблокировать доступ к поиску.</p>
                <p>Чтобы продолжить поиск, пожалуйста, введите символы с картинки в поле ввода и нажмите «Отправить».</p>

                <form ng-submit="sendCaptcha()">
                    <input type="hidden" ng-model="captchaKey" name="key" value="{{results.key}}" />

                    <div class="col-md-6">
                        <img ng-src="{{results['captcha-img-url']}}" />
                    </div>
                    <div class="col-md-6" style="padding-top: 15px;">
                        <div class="input-group">
                            <input type="text" name="captcha" ng-model="captchaValue" class="form-control" placeholder="символы слева">
                          <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" type="button">Отправить</button>
                          </span>
                        </div>
                    </div>
                </form>
            </div>

            <div ng-show="results.code == 15">
                <h2>Ничего нет</h2>
                <p>По вашему запросу ничего не нашлось.</p>
            </div>
        </div>
        <div class="col-md-3">
            <!-- ADS YANDEX -->
            Yandex
        </div>
        <div class="col-md-12" style="padding-left: 0px;">
            <div ng-show="!results.code">
                <div paging
                     page="page"
                     page-size="20"
                     total="120"
                     class="small"
                     hide-if-empty="false"
                     paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, total, word)">
                </div>

                <div class="results-sort-by">
                    Отсортировано:
                    <a href="javascript://" class="active" ng-click="showDevMsg()">по релевантности</a>
                    <a href="javascript://" ng-click="showDevMsg()">по дате</a>
                </div>

                <div class="results-additional">
                    <p>При поиске отдано предпочтение <b>сайтам из Беларуси</b>. <a href="javascript://" ng-click="showDevMsg()">Поискать в России</a></p>
                    <p class="color-grey">Поискать «бозон хиггса» в других поисковых системах: <a href="javascript://" ng-click="showDevMsg()">Google</a>, <a href="javascript://" ng-click="showDevMsg()">Bing</a></p>
                </div>
            </div>
        </div>
    </div>
</div>